{% include 'header.html' %}

            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h5><span>Welcome! We are </span><span class="text-danger"><b>GS26</b></span></h5>
                            </div>
                            <div class="card-body ">
                                <div id="map" class="map"></div>
                                <br><br>
                                <div class="typography-line">
                                    <blockquote>
                                        <p class="blockquote blockquote-primary">
                                            조선대학교 국제관 4층 인터넷 침해사고대응팀<br>
                                            choiys<br>
                                            xinfolab<br>
                                            k3y6reak<br>
                                            chokim-01<br>
                                            yuiopop<br>
                                            <small>
                                                - GS26
                                            </small>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function initMap() {
                // Create a map object and specify the DOM element for display.
                var myLatLng = {lat: 35.142891, lng: 126.932002};

                var map = new google.maps.Map(document.getElementById('map'), {
                  center: myLatLng,
                  zoom: 17
                });

                var marker = new google.maps.Marker({
                  map: map,
                  position: myLatLng,
                  title: 'Hello World!'
                });
                }
            </script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo14gsMTplvZUpyON0yThesfVZd6xy2jo&callback=initMap"></script>
{% include 'footer.html' %}