{% include 'header.html' %}


            <!-- End Navbar -->
            <div class="panel-header panel-header-sm"></div>
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Malicious Behavior Scanner using IOC</h5>
                            </div>

                            <div class="card-body">
                                <form class="form" action="/api/download">
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <img src="{{ url_for('static', filename='img/background.png') }}"  style="max-width: 100%; height: auto;"/>
                                            <button type="submit" class="btn btn-default" style="display: table; margin-left: auto; margin-right: auto;"><b>Download Client</b></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
{% include 'footer.html' %}