{% include 'header.html' %}

            <!-- End Navbar -->
            <div class="panel-header panel-header-lg">
                <canvas id="bigDashboardChart"></canvas>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Result Report</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
	                                {% for name in report_name %}
                                		<a href= "/report/{{name}}" class="btn btn-default col-md-2" ng-disabled="disabled" style="color: white;"><b>{{ "{}/{}/{} {}:{}:{}".format(name[:4], name[4:6], name[6:8], name[8:10], name[10:12], name[12:14]) }}</b></a>
	                                {% endfor %}
                                    <table class="table">
		                                <div class="alert alert-info">
		                                    <span>FILE</span>
		                                </div>
                                        <thead class="text-primary">
                                            <th width="100px">
                                                RISK
                                            </th>
                                            <th>
                                                FILE PATH
                                            </th>
                                            <th>
                                                HASH
                                            </th>
                                        </thead>
                                        <tbody>
                                        	{% for data in report_data[0] %}
	                                            <tr>
	                                                <td>
	                                                    {% if data[0] and data[1] %}
							                                <span class="text-danger"><b>NOTICE</b></span>
							                            {% else %}
						                                    <span class="text-warning"><b>WARNING</b></span>
	                                                    {% endif %}
	                                                </td>
	                                                <td>
	                                                    {{ data[0] }}
	                                                </td>
	                                                <td>
	                                                	{% if data[1] %}
	                                                    	{{ data[1] }}
	                                                	{% else %}
	                                                		<span>{{ 'a'*64 }}</span>
	                                                	{% endif %}
	                                                </td>
	                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <table class="table">
		                                <div class="alert alert-info">
		                                    <span>PROCESS</span>
		                                </div>
                                        <thead class=" text-primary">
                                            <th width="100px">
                                                RISK
                                            </th>
                                            <th>
                                                FILE PATH
                                            </th>
                                            <th>
                                                HASH
                                            </th>
                                        </thead>
                                        <tbody>
                                        	{% for data in report_data[1] %}
	                                            <tr>
	                                                <td>
	                                                    {% if data[0] and data[1] %}
							                                <span class="text-danger"><b>NOTICE</b></span>
							                            {% else %}
						                                    <span class="text-warning"><b>WARNING</b></span>
	                                                    {% endif %}
	                                                </td>
	                                                <td>
	                                                    {{ data }}
	                                                </td>
	                                                <td>
	                                                	{% if data[1] %}
	                                                    	{{ data[1] }}
	                                                	{% else %}
	                                                		<span>null</span>
	                                                	{% endif %}
	                                                </td>
	                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <table class="table">
		                                <div class="alert alert-info">
		                                    <span>IP</span>
		                                </div>
                                        <thead class=" text-primary">
                                            <th width="100px">
                                                RISK
                                            </th>
                                            <th>
                                                IP ADDRESS
                                            </th>
                                        </thead>
                                        <tbody>
                                        	{% for data in report_data[2] %}
	                                            <tr>
	                                                <td>
	                                                    <span class="text-danger"><b>NOTICE</b></span>
	                                                </td>
	                                                <td>
	                                                    {{ data }}
	                                                </td>
	                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <table class="table">
		                                <div class="alert alert-info">
		                                    <span>REGISTRY</span>
		                                </div>
                                        <thead class=" text-primary">
                                            <th width="100px">
                                                RISK
                                            </th>
                                            <th>
                                                KEY
                                            </th>
                                        </thead>
                                        <tbody>
                                        	{% for data in report_data[3] %}
	                                            <tr>
	                                                <td>
	                                                    <span class="text-danger"><b>NOTICE</b></span>
	                                                </td>
	                                                <td>
	                                                    {{ data }}
	                                                </td>
	                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% include 'footer.html' %}