{% include 'header.html' %}

            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Registration</h5>
                            </div>
                            <div ng-view></div>
                        </div>
                    </div>

<div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>
                </div>
            </div>
{% include 'footer.html' %}